<head>
</head>
<body>
<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  
   
  </tbody>
</table>
<h2>New book</h2>

<form class="new_book" action="/book" accept-charset="UTF-8" method="post">
  <div class="field">
    <lavel for="book_title">Title</lavel>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>
  <div class="fild">
    <level for="book_body">Body</level>
    <textarea class="book_body" name="book[body]" id="book_body">
    </textarea>
    
  </div>
</form>
</body>

